@inject Services.LjpService LjpService

<section class="mt-5">
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <td>
                    <strong>Ion</strong>
                </td>
                <td>
                    <strong>Charge</strong>
                </td>
                <td>
                    <strong>Mobility</strong>
                    <span class="small text-muted">10<sup>11</sup>&times;m<sup>2</sup>/V/s</span>
                </td>
                <td>
                    <strong>@(LjpService.UseGenericLabels ? "Solution A" : "Pipette")</strong>
                    <span class="small text-muted">mM</span>
                </td>
                <td>
                    <strong>@(LjpService.UseGenericLabels ? "Solution B" : "Bath")</strong>
                    <span class="small text-muted">mM</span>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ion in LjpService.IonList)
            {
                <tr>
                    <td>
                        <input class="form-control" @bind=ion.Name.Input @bind:event="oninput" />
                        <div class="@(ion.Name.IsValid ? "d-none" : "d-block")">&#9888;&#65039; @ion.Name.ErrorMessage</div>
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.Charge.Input readonly />
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.Mobility.Input readonly />
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.C0.Input @bind:event="oninput" />
                        <div class="@(ion.C0.IsValid ? "d-none" : "d-block")">&#9888;&#65039; @ion.C0.ErrorMessage</div>
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.CL.Input @bind:event="oninput" />
                        <div class="@(ion.CL.IsValid ? "d-none" : "d-block")">&#9888;&#65039; @ion.CL.ErrorMessage</div>
                    </td>
                    <td><button class="btn" @onclick="@(e => LjpService.IonList.Remove(ion))">❌</button></td>
                </tr>
            }
            <tr class="highlight">
                <td>
                    <select class="form-control" @bind="LjpService.SelectedIonName">
                        <option value="" selected disabled hidden>Select Ion</option>
                        @foreach (string ionName in LjpService.KnownIons.GetIonNames())
                        {
                            <option value="@ionName">@ionName</option>
                        }
                    </select>
                </td>
                <td>
                    <input class="form-control" @bind=LjpService.IonToAdd.Charge.Input @bind:event="oninput" />
                    <div class="@(LjpService.IonToAdd.Charge.IsValid ? "d-none" : "d-block")">
                        &#9888;&#65039; @LjpService.IonToAdd.Charge.ErrorMessage
                    </div>
                </td>
                <td>
                    <input class="form-control" @bind=LjpService.IonToAdd.Mobility.Input @bind:event="oninput" />
                    <div class="@(LjpService.IonToAdd.Mobility.IsValid ? "d-none" : "d-block")">
                        &#9888;&#65039; @LjpService.IonToAdd.Mobility.ErrorMessage
                    </div>
                </td>
                <td>
                    <button class="col btn btn-primary"
                            @onclick="LjpService.AddSelectedIon"
                            disabled="@(LjpService.IonToAdd.IsValid ? null : "disabled")">
                        Add
                    </button>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>

@code {

}