@inject Services.LjpService LjpService

<section>
    <table class="table table-sm table-borderless table-hover">
        <thead>
            <tr>
                <td>
                    <strong>Ion</strong>
                </td>
                <td>
                    <strong>Charge</strong>
                </td>
                <td>
                    <strong>Mobility</strong>
                    <span class="small text-muted">10<sup>11</sup>&times;m<sup>2</sup>/V/s</span>
                </td>
                <td>
                    <strong>@(LjpService.UseGenericLabels ? "Solution A" : "Pipette")</strong>
                    <span class="small text-muted">mM</span>
                </td>
                <td>
                    <strong>@(LjpService.UseGenericLabels ? "Solution B" : "Bath")</strong>
                    <span class="small text-muted">mM</span>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ion in LjpService.IonList)
            {
                <tr>
                    <td>
                        <input class="form-control" @bind=ion.Name.Input @bind:event="oninput" />
                        <div class="@(ion.Name.IsValid ? "d-none" : "d-block")">&#9888;&#65039; @ion.Name.ErrorMessage</div>
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.Charge.Input readonly />
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.Mobility.Input readonly />
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.C0.Input @bind:event="oninput" />
                        <div class="@(ion.C0.IsValid ? "d-none" : "d-block")">&#9888;&#65039; @ion.C0.ErrorMessage</div>
                    </td>
                    <td>
                        <input class="form-control" @bind=ion.CL.Input @bind:event="oninput" />
                        <div class="@(ion.CL.IsValid ? "d-none" : "d-block")">&#9888;&#65039; @ion.CL.ErrorMessage</div>
                    </td>
                    <td><button class="btn" @onclick="@(e => LjpService.RemoveIon(ion))">❌</button></td>
                </tr>
            }
            <tr class="highlight">
                <td>
                    <select class="form-control" @bind="LjpService.SelectedIonName">
                        <option value="" selected disabled hidden>Select Ion</option>
                        @foreach (string ionName in LjpService.KnownIons.GetIonNames())
                        {
                            <option value="@ionName">@ionName</option>
                        }
                    </select>
                </td>
                <td>
                    <input class="form-control" @bind=LjpService.IonToAdd.Charge.Input @bind:event="oninput" />
                    <div class="@(LjpService.IonToAdd.Charge.IsValid ? "d-none" : "d-block")">
                        &#9888;&#65039; @LjpService.IonToAdd.Charge.ErrorMessage
                    </div>
                </td>
                <td>
                    <input class="form-control" @bind=LjpService.IonToAdd.Mobility.Input @bind:event="oninput" />
                    <div class="@(LjpService.IonToAdd.Mobility.IsValid ? "d-none" : "d-block")">
                        &#9888;&#65039; @LjpService.IonToAdd.Mobility.ErrorMessage
                    </div>
                </td>
                <td>
                    <button class="col btn btn-primary"
                            @onclick="LjpService.AddSelectedIon"
                            disabled="@(LjpService.IonToAdd.IsValid ? null : "disabled")">
                        Add
                    </button>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Table
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item" @onclick="LjpService.IonList.Clear">Clear</li>
                            <li class="dropdown-item" @onclick="LjpService.LoadDefaultSet">Reset</li>
                            <li><hr class="dropdown-divider"></li>
                            @foreach (var sampleSet in LjpService.SampleIonSets)
                            {
                                <li class="dropdown-item" @onclick="@(e => LjpService.LoadSampleSet(sampleSet))">@sampleSet.Title</li>
                            }
                        </ul>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

</section>

<section class="mt-3 mb-3">

    <div class="d-inline-block m-2 align-top">
        <label><strong>Solution Labels</strong></label>
        <select class="form-select" @bind="LjpService.LabelType">
            <option value="pipette">pipette</option>
            <option value="generic">generic</option>
        </select>
    </div>

    <div class="d-inline-block m-2">
        <label><strong>Temperature (C)</strong></label>
        <input class="form-control" @bind=LjpService.Temperature.Input @bind:event="oninput" size="10" />
        <div class="@(LjpService.Temperature.IsValid ? "d-none" : "d-block")">
            &#9888;&#65039; @LjpService.Temperature.ErrorMessage
        </div>
    </div>

</section>

@code {

}