@using LJPcalc.Core;


<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>Ion</th>
            @if (ShowDetailsInTable)
            {
                <th>
                    <span class="fw-strong">Charge</span><br />
                </th>
                <th>
                    <span class="fw-strong">Mobility</span><br />
                    <span class="fw-normal">m/s/N</span>
                </th>
                <th>
                    <span class="fw-strong">Conductivity</span><br />
                    <span class="fw-normal">S·cm<sup>2</sup>/mol</span>
                </th>
            }
            <th>
                <span class="fw-strong">A</span><br />
                <span class="fw-normal">mM</span>
            </th>
            <th>
                <span class="fw-strong">B</span><br />
                <span class="fw-normal">mM</span>
            </th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Ions.Length; i++)
        {
            int ionIndex = i;
            Ion ion = Ions[ionIndex];
            <tr>
                @if (ShowDetailsInTable)
                {
                    <td>@(ion.Name.Split("(")[0])</td>
                    <td>@ion.Charge</td>
                    <td>@($"{ion.Mu / 1e4:#.000e0}")</td>
                    <td>@($"{ion.Conductivity:#0.###}")</td>
                }
                else
                {
                    <td>@(ion.NameWithCharge)</td>
                }
                <td>@ion.InitialC0</td>
                <td>@ion.InitialCL</td>
                <td>
                    <a data-bs-toggle="modal" data-bs-target="#editIonModal" style="cursor: pointer"
                   @onclick="@(()=>EditIon(ionIndex))">
                        ✏️
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<EditIonModal @ref="MyEditIonModal" OnSaveIon="EditedIonSave" />

<div class="d-flex justify-content-between">

    <div>
        <div class="d-inline-block">
            <div class="input-group" style="width: 100px;">
                <span class="input-group-text" id="basic-addon1">ºC</span>
                <input type="text" class="form-control" @bind=TemperatureC>
            </div>
        </div>
        <div class="d-inline-block ms-2">
            <input class="form-check-input" type="checkbox" @bind=ShowDetailsInTable />
            <label class="form-check-label">Details</label>
        </div>
    </div>

    <div class="mb-4">
        <div class="dropdown d-inline-block">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Examples
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @foreach (var ionSet in LJPcalc.Core.KnownIonSets.KnownSets.GetAll())
                {
                    <li>
                        <button class="dropdown-item" type="button" onclick="@(()=>LoadIonSet(ionSet.Ions))">
                            @ionSet.Name
                        </button>
                    </li>
                }
            </ul>
        </div>
        <button class="btn btn-outline-primary" @onclick=ClearIons>
            Clear Ions
        </button>
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editIonModal" @onclick=AddIon>
            Add Ion
        </button>
    </div>
</div>

@if (!ContinueCalculating)
{
    @if (IsIonTableError)
    {
        <ErrorAlert Title="Error" Message=@IonTableErrorMessage />
    }

    <button class="btn btn-primary" @onclick=CalcStart disabled=@IsIonTableError>Calculate LJP</button>
}
else
{
    <button class="btn btn-primary" type="button" disabled>
        Calculating...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    <button class="btn btn-primary ms-1" @onclick=CalcStop>Stop</button>
}

<LjpResultTable LatestResult="LatestResult" BestResult="BestResult" />

@if (Calc is not null)
{
    <div>Latest LJP = <code>@Calc.LatestSolution.LjpMillivolts mV</code></div>
    <div>Best LJP = <code>@Calc.BestSolution.LjpMillivolts mV</code></div>
    <div>Solutions Tested: <code>@Calc.Iterations</code></div>
    <div>Calculation Time: <code>@($"{Calc.Elapsed.TotalSeconds:N2}") sec</code></div>
}

<footer class="d-flex mb-3 justify-content-evenly" style="opacity: .5; margin-top: 7em;">
    <div>
        LJPcalc @LjpCalculator.GetVersion()
    </div>
    <div>
        .NET @Environment.Version
    </div>
    <div>
        <a href="https://github.com/swharden/LJPcalc">View source</a>
    </div>
</footer>

@code {
    EditIonModal MyEditIonModal = null!;

    Ion[] Ions { get; set; } = Array.Empty<Ion>();

    bool ContinueCalculating { get; set; } = false;

    LjpCalculator? Calc { get; set; } = null;

    LjpResult? LatestResult { get; set; } = null;

    LjpResult? BestResult { get; set; } = null;

    bool IsSolved => Calc is not null && Calc.BestSolution.MaxAbsoluteError < .1;

    bool ShowDetailsInTable { get; set; } = true;

    double TemperatureC { get; set; } = 25;

    bool IsIonTableError => !string.IsNullOrWhiteSpace(IonTableErrorMessage);

    string IonTableErrorMessage { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        LoadIonSet(new LJPcalc.Core.KnownIonSets.AxoBitsArticle().Ions);
    }

    private void ValidateIonSet()
    {
        if (Ions.Length < 2)
        {
            IonTableErrorMessage = "At least two ions are required to calculate LJP";
            return;
        }

        bool hasLeftCations = Ions.Where(x => x.C0 > 0).Where(x => x.Charge > 0).Any();
        bool hasLeftAnions = Ions.Where(x => x.C0 > 0).Where(x => x.Charge < 0).Any();
        if (!(hasLeftAnions && hasLeftAnions))
        {
            IonTableErrorMessage = "Solution A requires both cations and anions";
            return;
        }

        bool hasRightCations = Ions.Where(x => x.CL > 0).Where(x => x.Charge > 0).Any();
        bool hasRightAnions = Ions.Where(x => x.CL > 0).Where(x => x.Charge < 0).Any();
        if (!(hasRightCations && hasRightAnions))
        {
            IonTableErrorMessage = "Solution B requires both cations and anions";
            return;
        }

        IonTableErrorMessage = string.Empty;
    }

    private async Task CalcStart()
    {
        ContinueCalculating = true;
        await Task.Delay(1); // helps ensure a screen refresh happens
        StateHasChanged();

        Calc = new(Ions, TemperatureC);
        while (ContinueCalculating)
        {
            Calc.Iterate();
            LatestResult = Calc.GetLatestLjpResult();
            BestResult = Calc.GetBestLjpResult();
            if (IsSolved)
                ContinueCalculating = false;
            await Task.Delay(1);
            StateHasChanged();
        }
    }

    private void CalcStop()
    {
        ContinueCalculating = false;
    }

    private void LoadIonSet(Ion[] ions)
    {
        Ions = IonLibrary.Lookup(ions);
        ValidateIonSet();
        ClearResults();
        StateHasChanged();
    }

    private void EditIon(int ionIndex)
    {
        MyEditIonModal.IsNewIon = false;
        MyEditIonModal.IsToBeDeleted = false;
        MyEditIonModal.IndexOfIonBeingEdited = ionIndex;

        MyEditIonModal.Name = Ions[ionIndex].Name;
        MyEditIonModal.Charge = Ions[ionIndex].Charge;
        MyEditIonModal.Conductivity = Ions[ionIndex].Conductivity;
        MyEditIonModal.ConcentrationA = Ions[ionIndex].C0;
        MyEditIonModal.ConcentrationB = Ions[ionIndex].CL;

        MyEditIonModal.Reset();
    }

    private void AddIon()
    {
        MyEditIonModal.IsNewIon = true;
        MyEditIonModal.IsToBeDeleted = false;

        Ion defaultNewIon = IonLibrary.KnownIons.Where(x => x.Name.StartsWith("A")).First();
        MyEditIonModal.PresetSelected(new ChangeEventArgs() { Value = defaultNewIon.NameWithCharge });

        ClearResults();
        ValidateIonSet();
    }

    private void ClearIons()
    {
        Ions = Array.Empty<Ion>();
        ClearResults();
        ValidateIonSet();
    }

    private void ClearResults()
    {
        Calc = null;
        LatestResult = null;
        BestResult = null;
    }

    private void EditedIonSave()
    {
        if (MyEditIonModal.IsToBeDeleted)
        {
            Ions = Enumerable.Range(0, Ions.Length)
                .Where(i => i != MyEditIonModal.IndexOfIonBeingEdited)
                .Select(i => Ions[i])
                .ToArray();
        }
        else if (MyEditIonModal.IsNewIon)
        {
            Ions = Ions.Append(MyEditIonModal.ToIon()).ToArray();
        }
        else
        {
            Ions[MyEditIonModal.IndexOfIonBeingEdited] = MyEditIonModal.ToIon();
        }
        
        ClearResults();
        ValidateIonSet();
    }
}