@using LJPcalc.Core;

<PageTitle>Index</PageTitle>

<header class="text-light py-3" style="background-color: #003366;">
    <div class="container">
        <div class="display-4 lh-1" style="font-weight: 400;">LJPCalc</div>
        <div class="" style="color: #CCC;">
            Liquid Junction Potential (LJP) calculator
        </div>
    </div>
</header>

<div class="container mb-5">

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Ion</th>
                @if (ShowDetailsInTable)
                {
                    <th>
                        <span class="fw-strong">Charge</span><br />
                    </th>
                    <th>
                        <span class="fw-strong">Mobility</span><br />
                        <span class="fw-normal">m/s/N</span>
                    </th>
                    <th>
                        <span class="fw-strong">Conductivity</span><br />
                        <span class="fw-normal">S·cm<sup>2</sup>/mol</span>
                    </th>
                }
                <th>
                    <span class="fw-strong">A</span><br />
                    <span class="fw-normal">mM</span>
                </th>
                <th>
                    <span class="fw-strong">B</span><br />
                    <span class="fw-normal">mM</span>
                </th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Ions.Length; i++)
            {
                int ionIndex = i;
                Ion ion = Ions[ionIndex];
                <tr>
                    @if (ShowDetailsInTable)
                    {
                        <td>@(ion.Name.Split("(")[0])</td>
                        <td>@ion.Charge</td>
                        <td>@($"{ion.Mu / 1e4:#.000e0}")</td>
                        <td>@($"{ion.Conductivity:#0.###}")</td>
                    }
                    else
                    {
                        <td>@(ion.NameWithCharge)</td>
                    }
                    <td>@ion.InitialC0</td>
                    <td>@ion.InitialCL</td>
                    <td>
                        <a data-bs-toggle="modal" data-bs-target="#editIonModal" style="cursor: pointer"
                       @onclick="@(()=>EditIon(ionIndex))">
                            ✏️
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <EditIonModal Ion="IonBeingEdited" OnSaveIon="EditedIonSave" />

    <div class="text-end">

        <div class="d-inline-block me-2">
            <input class="form-check-input" type="checkbox" @bind=ShowDetailsInTable />
            <label class="form-check-label">Details</label>
        </div>

        <div class="dropdown d-inline-block">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Examples
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @foreach (var ionSet in LJPcalc.Core.KnownIonSets.KnownSets.GetAll())
                {
                    <li>
                        <button class="dropdown-item" type="button" onclick="@(()=>LoadIonSet(ionSet.Ions))">
                            @ionSet.Name
                        </button>
                    </li>
                }
            </ul>
        </div>

        <button class="btn btn-outline-primary" @onclick=ClearIons>
            Clear Ions
        </button>

        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editIonModal" @onclick=AddIon>
            Add Ion
        </button>
    </div>

    @if (!Calculating)
    {
        <button class="btn btn-primary" @onclick=CalcStart>Calculate LJP</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" disabled>
            Calculating...
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary ms-1" @onclick=CalcStop>Stop</button>
    }

    @if (Result is not null)
    {
        string ljpPrettyMillivolts = (Result.LjpMillivolts > 0 ? "+" : "") + $"{Result.LjpMillivolts:N3}";
        bool solved = Result.Error < 1;
        string color = solved ? "green" : "red";

        <div class="display-5 mt-4" style="color: @color">LJP = @ljpPrettyMillivolts mV</div>

        @if (!solved)
        {
            <div style="color: @color">
                <div>LJP displayed is an approximation based on an ion set with @Math.Round(Result.Error, 1)% error.</div>
                <div>More iterations are required to minimize concentration error...</div>
            </div>
        }
        else
        {
            <div style="color: @color">
                <div>LJP was calculated from an ion table with maximum @Math.Round(Result.Error, 1)% concentration error.</div>
                <div>Additional iterations are unlikely to significantly improve LJP accuracy...</div>
            </div>
        }

        <h3 class="mt-4">Solution Details</h3>
        <div>
            <div>LJP of best solution: <code>@Result.LjpMillivolts mV</code></div>
            <div>Number of attempted solutions: <code>@Result.Iterations</code></div>
            <div>Maximum concentration error: <code>@($"{Result.Error:0.00E+0}") %</code></div>
            <div>Total calculation time: <code>@($"{Result.Elapsed.TotalSeconds:N2}") sec</code></div>
        </div>

        <h3 class="mt-4">Cite This Result</h3>
        <div class="fst-italic">
            Liquid junction potential was calculated according to the Nernst–Planck equation using LJPcalc
            (<a href="https://arxiv.org/abs/1403.3640">Marino et al., 2014</a>).
        </div>
    }

    <h3 class="mt-4">About LJPcalc</h3>
    <div>
        LJPcalc was created by <a href="https://swharden.com/about/">Scott Harden</a> and
        <a href="https://sites.google.com/site/dbrogioli/">Doriano Brogioli</a>
    </div>

    <div>
        This page is running LJPcalc @LjpCalculator.GetVersion() on .NET @Environment.Version
    </div>

    <div>
        Source: <a href="https://github.com/swharden/LJPcalc">github.com/swharden/LJPcalc</a>
    </div>
</div>

@code {

    Ion[] Ions { get; set; } = Array.Empty<Ion>();

    readonly EditableIon IonBeingEdited = new();

    bool Calculating { get; set; } = false;

    LjpCalculator? Calc { get; set; } = null;

    LjpResult? Result { get; set; } = null;

    bool ShowDetailsInTable { get; set; } = false;

    protected override void OnInitialized()
    {
        LoadIonSet(new LJPcalc.Core.KnownIonSets.Owen2013().Ions);
    }

    private async Task CalcStart()
    {
        Calculating = true;
        await Task.Delay(1); // helps ensure a screen refresh happens
        StateHasChanged();

        Calc = new(Ions);
        while (Calc is not null)
        {
            Calc.Iterate();
            Result = Calc.GetLJP();
            await Task.Delay(1);
            StateHasChanged();
        }
        Calculating = false;
    }

    private void CalcStop()
    {
        Calc = null;
    }

    private void LoadIonSet(Ion[] ions)
    {
        Ions = IonLibrary.Lookup(ions);
        StateHasChanged();
    }

    private void EditIon(int ionIndex)
    {
        IonBeingEdited.IsNewIon = false;
        IonBeingEdited.IsDeleted = false;
        IonBeingEdited.UpdateFromIon(Ions, ionIndex);
    }

    private void AddIon()
    {
        IonBeingEdited.IsNewIon = true;
        IonBeingEdited.IsDeleted = false;
        IonBeingEdited.Reset();
    }

    private void ClearIons()
    {
        Ions = Array.Empty<Ion>();
    }

    private void EditedIonSave()
    {
        if (IonBeingEdited.IsDeleted)
        {
            Ions = Enumerable.Range(0, Ions.Length)
                .Where(i => i != IonBeingEdited.Index)
                .Select(i => Ions[i])
                .ToArray();
        }
        else if (IonBeingEdited.IsNewIon)
        {
            Ions = Ions.Append(IonBeingEdited.ToIon()).ToArray();
        }
        else
        {
            Ions[IonBeingEdited.Index] = IonBeingEdited.ToIon();
        }
    }
}